#contact {
  .social-icon {
    display: inline-block;
    margin-right: 0.5rem;
    svg {
      width: 100px;
      fill: $dark-color;
      &:hover {
        fill: $accent-color;
      }
    }
    &:focus {
      svg {
        fill: $accent-color;
      }
    }
  }
}