@media (min-width: 1024px) and (max-width: 1440px) {
  :root {
    --body-font-size: 1.5rem;
    --heading-font-size: 6rem;
  }
  .nav-brand {
    font-size: 2rem;
  }
  .portfolio-thumb {
    height: 300px;
  }
  .portfolio-hero-image {
    height: 450px;
  }
  blockquote p {
    font-size: calc(var(--body-font-size) * 1.2);
    &::before {
      font-size: 2.5rem;
    }
  }
  .portfolio-highlight-title::before {
    max-width: 500px;
  }
  .portfolio-overview {
    padding: 1rem;
  }
  .portfolio-container {
    height: 420px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .portfolio-container {
    width: 95%;
    margin-right: auto;
  }
  .portfolios .portfolio:nth-of-type(even) .portfolio-container{
    margin-right: unset;
    margin-left: auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  :root {
    --body-font-size: 1.3rem;
    --heading-font-size: 4.5rem;
    --margin: 0.8rem;
    --padding: 0.8rem;
  }
  body {
    padding-top: 7rem;
    padding-right: 2.5rem;
  }
   .sticky-nav {
    top: 7rem;
  }
  .portfolio-container {
    align-items: flex-start;
    height: 500px;
  }
  .portfolio-thumb {
    height: 250px;
  }
  .portfolio-highlight-title::before {
    max-width: 300px;
    width: 150%;
  }
  .portfolio-highlight-content {
    padding: 0 1.5rem;
  }
  blockquote p {
    font-size: calc(var(--body-font-size) * 1.1);
    &::before {
      font-size: 2rem;
    }
  }
  .nav-brand {
    font-size: 2rem;
  }
  .social-icon svg {
    padding: 0.3rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  :root {
    --body-font-size: 1.4rem;
    --heading-font-size: 3.5rem;
    --margin: 0.8rem;
    --padding: 0.8rem;
  }
  body {
    padding-top: 8rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  main .px-md {
    padding-left:1rem;
    padding-right:1rem;
  }
  nav {
    opacity: 0;
  }
  .nav-brand {
    position: fixed;
    top: 2rem;
    left: 1.5rem;
  }
  .burger {
    display: flex;
  }
  .post-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .profile-image {
    width: 100%;
    margin: unset;
    margin-bottom: 2rem;
  }
}