nav {
  display: flex;
  flex-direction: column;
  a {
    display: inline-block;
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: none;
    }
  }
}
.nav-brand {
  font-size: 3rem;
}
.sticky-nav {
  position: fixed;
  top: 10rem;
  left: 0;
  z-index: 1001;
}
.social-icon {
  display: inline;
  margin-right: 0.5rem;
  svg {
    width: 35px;
    fill: $dark-color;
    &:hover {
      fill: $accent-color;
    }
  }
  &:focus {
    svg {
      fill: $accent-color;
    }
  }
}
// Mobile Nav

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  $width: 35px;
  width: $width;
  height: 25px;
  background-color: unset;
  border: none;   
  z-index: 1001;
  span {
    border-radius: 3px;
    background: $dark-color;
    width: inherit;
    height: 3px;
    transition: 0.1s all;
  }
}
.burger.open {
  justify-content: center;
  span {
    transform: rotate(45deg);
    transition: 0.1s all;
    &:nth-of-type(2) {
      display: none;
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }
}
nav.mobile-menu {
  position: fixed;
  display: flex;
  opacity: 1;
  flex-direction: row;
  top: 1.5rem;
  left: 1rem;
  z-index: 1000;
  transition: 0.3s all;
  a {
    padding: 0 0.5rem;
  }
  .social-icon {
    display: none;
  }
}
.push {
  transform: translateX(-400px);
  transition: 0.5s all;
}