nav {
  display: flex;
  flex-direction: column;
  a {
    display: inline-block;
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: none;
    }
  }
  .switch-toggle {
    
    span:nth-of-type(2) {
      font-size: 1rem;
      display: inline;  
    }
  }
}
.nav-brand {
  font-size: 3rem;
}
.sticky-nav {
  position: fixed;
  top: 10rem;
  left: 0;
}


    