nav {
  display: flex;
  flex-direction: column;
  a {
    display: inline-block;
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: none;
    }
  }
}
.nav-brand {
  font-size: 3rem;
}
.sticky-nav {
  position: fixed;
  top: 10rem;
  left: 0;
}
.social-icon {
  display: inline;
  margin-right: 0.5rem;
  svg {
    width: 35px;
    fill: $dark-color;
    &:hover {
      fill: $accent-color;
    }
  }
  &:focus {
    svg {
      fill: $accent-color;
    }
  }
}