<div id="particles-js" class="particles-container">

</div>
<button id="burger" class="burger">
  <span class="greenify"></span>
  <span class="greenify"></span>
  <span class="greenify"></span>
</button>
<nav id="nav" class="py-md">
  <a href="/about" class="greenify editable">About</a>
  <a href="/portfolios" class="greenify editable">Work</a>
  <a href="/blog" class="greenify editable">Blog</a>
  <a href="/contact" class="greenify editable">Contact</a>  
  <div>
  {% for item in site.data.settings.general_settings.social %}
    <a href="{{item.url}}" target="_blank" rel="noopener noreferrer" class="social-icon">{% include social-icons.html icon=item.icon %}</a>
    {% endfor %}
  </div>
</nav>