<!DOCTYPE html>
<html lang="en">
{% include structure/head.html %}
  <body id="body" class="grid-noGutter-spaceBetween">
    <header id="header" class="col-2">
      <div id="gradient">
        <div id="sticky-nav" class="sticky-nav py-lg px-md">
          <a id="nav-brand" href="/" class="nav-brand nav-link" aria-label="Home page">its<strong>gus</strong>.dev</a>
          {% include structure/nav.html %}
          <label for="switch" id="switch-toggle" class="switch-toggle">
            <input type="checkbox" id="switch" class="switch"/>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </header>
    {{content}}
    <footer id="footer"></footer>
    {% include structure/scripts.html %}
    <script src="/js/functions.js"></script>
  </body>
</html>  