<!DOCTYPE html>
<html lang="en">
{% include structure/head.html %}
  <body id="body" class="grid-noGutter-spaceBetween">
    <header class="col-2">
      <div class="sticky-nav py-lg px-md">
        <a href="/" class="nav-brand"><strong>Gus</strong>Schiavon</a>
        {% include structure/nav.html %}
        <label for="switch" id="switch-toggle" class="switch-toggle">
          <input type="checkbox" id="switch" class="switch"/>
          <span class="switch-slider"></span>
        </label>
      </div>
    </header>
    {{content}}
    <script src="/js/functions.js"></script>
  </body>
</html>  