---
layout: default
---
<main class="col-9_sm-12">
  <div id="title-section">
    <h1>{{page.title}}</h1>
    <h4>{{page.stack}}</h4>
  </div>
  <hr class="divider-lg mb-2">
  <div class="portfolio-hero-image mb-2">
    <img src="{{page.hero_image}}" alt="" class="responsive-image">
  </div>
  <h3>Briefing:</h3>
  <p>{{content}}</p>
  {% for highlight in page.portfolio_highlights %}
  <div class="grid-noGutter-spaceBetween{% cycle ' ', '-reverse' %} portfolio-highlight">
    <div class="col-5_md-6_sm-12-middle portfolio-thumb">
      <img src="{{highlight.image}}" alt="" class="responsive-image">
    </div>
    <div class="col-5_md-6_sm-12-middle {% cycle ' ', 'right' %}">
      <div class="portfolio-highlight-content">
        <h4 class="portfolio-highlight-title mb-1">{{highlight.title}}</h4>
        <div class="txt-small">
          {{highlight.text_content_html}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <blockquote class="my-2"><p>{{page.testimonial}}</p><cite>{{page.testimonial_author}}</cite></blockquote>
  <section id="cta" class="cta py-lg px-md">
    <h2>Did you like {{page.title}}'s site?</h2>
    <h4>Then <strong>let's develop something similar</strong> to suit your business or promotional needs!</h4>
    <h4>It's <strong>easier than you'd think</strong>. It's gus.dev</h4>
  </section>
</main>